.material-card {
    max-width: 600px;
    margin: 20px 20px;
}

.material-card-header {
    background-image: url('/assets/Images/avater.jpg');
    background-size: cover;
}

.material-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 50px;
}
  
.material-radio-button {
    margin: 5px;
}
  
.form-checkbox {
    margin: 15px 0px 15px 0px;
}
.form-flex-container {
    display: flex;
    flex-direction: column;
}

.form-flex-container > * {
    width: 100%;
}