

<mat-card class="material-card">

  <mat-card-header>
    <div mat-card-avatar class="material-card-header"></div>
    <mat-card-title>User registration form</mat-card-title>
    <mat-card-subtitle>Please fill up all fields</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="exmFrmGrp" (ngSubmit) = "onSubmit()">

      <div class="form-flex-container">

        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
              
        <mat-form-field>
          <input matInput type="email" pattern=".+@gmail.com" placeholder="Email" formControlName="email">
        </mat-form-field>
              
        <mat-form-field>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
        </mat-form-field>

        <div class="form-checkbox">
          <mat-checkbox  labelPosition= "before" [formControl]="disableSelect">Disable select</mat-checkbox>
        </div>

        <mat-form-field>
          <mat-select placeholder="Favorite Food Item" formControlName="fevFood" [disabled]= "disableSelect.value">
            <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
            <mat-label>Gender</mat-label>
            <mat-radio-group class="material-radio-group" formControlName="gender">
              <mat-radio-button class="material-radio-button" labelPosition= "after" value="M">Male</mat-radio-button>
              <mat-radio-button class="material-radio-button" labelPosition= "after" value="F">Female</mat-radio-button>
              <mat-radio-button class="material-radio-button" labelPosition= "after" value="U">Unknown</mat-radio-button>
            </mat-radio-group>
        </div>
        
       
              
        <button mat-button color="primary" type="submit" [disabled] = "!exmFrmGrp.valid">Submit</button>

      </div>

    </form>

  </mat-card-content>


  <mat-card-actions>
    <!--button to submit-->
  </mat-card-actions>


</mat-card>

